<!DOCTYPE html>
<meta charset="utf-8">
<svg width="960" height="600"></svg>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script>

    // large data set, 2 groups
    var data = {
        "nodes": [
            {"name": "Abe"},
            {"name": "Bob"},
            {"name": "Conrad"},
            {"name": "Don"},
            {"name": "Eric"},
            {"name": "Faith"},
            {"name": "Garret"},
            {"name": "Hilbert"},
            {"name": "Ivan"},
            {"name": "Myriel"},
            {"name": "Napoleon"},
            {"name": "Mlle.Baptistine"},
            {"name": "Mme.Magloire"},
            {"name": "CountessdeLo"},
            {"name": "Geborand"},
            {"name": "Champtercier"},
            {"name": "Cravatte"},
            {"name": "Count"},
            {"name": "OldMan"},
            {"name": "Labarre"},
            {"name": "Valjean"},
            {"name": "Marguerite"},
            {"name": "Mme.deR"},
            {"name": "Isabeau"},
            {"name": "Gervais"},
            {"name": "Tholomyes"},
            {"name": "Listolier"},
            {"name": "Fameuil"},
            {"name": "Blacheville"},
            {"name": "Favourite"},
            {"name": "Dahlia"},
            {"name": "Zephine"},
            {"name": "Fantine"},
            {"name": "Mme.Thenardier"},
            {"name": "Thenardier"},
            {"name": "Cosette"},
            {"name": "Javert"},
            {"name": "Fauchelevent"},
            {"name": "Bamatabois"},
            {"name": "Perpetue"},
            {"name": "Simplice"},
            {"name": "Scaufflaire"},
            {"name": "Woman1"},
            {"name": "Judge"},
            {"name": "Champmathieu"},
            {"name": "Brevet"},
            {"name": "Chenildieu"},
            {"name": "Cochepaille"},
            {"name": "Pontmercy"},
            {"name": "Boulatruelle"},
            {"name": "Eponine"},
            {"name": "Anzelma"},
            {"name": "Woman2"},
            {"name": "MotherInnocent"},
            {"name": "Gribier"},
            {"name": "Jondrette"},
            {"name": "Mme.Burgon"},
            {"name": "Gavroche"},
            {"name": "Gillenormand"},
            {"name": "Magnon"},
            {"name": "Mlle.Gillenormand"},
            {"name": "Mme.Pontmercy"},
            {"name": "Mlle.Vaubois"},
            {"name": "Lt.Gillenormand"},
            {"name": "Marius"},
            {"name": "BaronessT"},
            {"name": "Mabeuf"},
            {"name": "Enjolras"},
            {"name": "Combeferre"},
            {"name": "Prouvaire"},
            {"name": "Feuilly"},
            {"name": "Courfeyrac"},
            {"name": "Bahorel"},
            {"name": "Bossuet"},
            {"name": "Joly"},
            {"name": "Grantaire"},
            {"name": "MotherPlutarch"},
            {"name": "Gueulemer"},
            {"name": "Babet"},
            {"name": "Claquesous"},
            {"name": "Montparnasse"},
            {"name": "Toussaint"},
            {"name": "Child1"},
            {"name": "Child2"},
            {"name": "Brujon"},
            {"name": "Mme.Hucheloup",}
        ],
        "links": [
            {"source": "Abe", "target": "Bob", "mentions": 7},
            {"source": "Abe", "target": "Ivan", "mentions": 9},
            {"source": "Abe", "target": "Conrad", "mentions": 100},
            {"source": "Abe", "target": "Don", "mentions": 60},
            {"source": "Don", "target": "Conrad", "mentions": 1},
            {"source": "Don", "target": "Eric", "mentions": 7},
            {"source": "Eric", "target": "Faith", "mentions": 55},
            {"source": "Eric", "target": "Garret", "mentions": 16},
            {"source": "Eric", "target": "Hilbert", "mentions": 82},
            {"source": "Napoleon", "target": "Myriel", "mentions": 1},
            {"source": "Mlle.Baptistine", "target": "Myriel", "mentions": 8},
            {"source": "Mme.Magloire", "target": "Myriel", "mentions": 10},
            {"source": "Mme.Magloire", "target": "Mlle.Baptistine", "mentions": 6},
            {"source": "CountessdeLo", "target": "Myriel", "mentions": 1},
            {"source": "Geborand", "target": "Myriel", "mentions": 1},
            {"source": "Champtercier", "target": "Myriel", "mentions": 1},
            {"source": "Cravatte", "target": "Myriel", "mentions": 1},
            {"source": "Count", "target": "Myriel", "mentions": 2},
            {"source": "OldMan", "target": "Myriel", "mentions": 1},
            {"source": "Valjean", "target": "Labarre", "mentions": 1},
            {"source": "Valjean", "target": "Mme.Magloire", "mentions": 3},
            {"source": "Valjean", "target": "Mlle.Baptistine", "mentions": 3},
            {"source": "Valjean", "target": "Myriel", "mentions": 5},
            {"source": "Marguerite", "target": "Valjean", "mentions": 1},
            {"source": "Mme.deR", "target": "Valjean", "mentions": 1},
            {"source": "Isabeau", "target": "Valjean", "mentions": 1},
            {"source": "Gervais", "target": "Valjean", "mentions": 1},
            {"source": "Listolier", "target": "Tholomyes", "mentions": 4},
            {"source": "Fameuil", "target": "Tholomyes", "mentions": 4},
            {"source": "Fameuil", "target": "Listolier", "mentions": 4},
            {"source": "Blacheville", "target": "Tholomyes", "mentions": 4},
            {"source": "Blacheville", "target": "Listolier", "mentions": 4},
            {"source": "Blacheville", "target": "Fameuil", "mentions": 4},
            {"source": "Favourite", "target": "Tholomyes", "mentions": 3},
            {"source": "Favourite", "target": "Listolier", "mentions": 3},
            {"source": "Favourite", "target": "Fameuil", "mentions": 3},
            {"source": "Favourite", "target": "Blacheville", "mentions": 4},
            {"source": "Dahlia", "target": "Tholomyes", "mentions": 3},
            {"source": "Dahlia", "target": "Listolier", "mentions": 3},
            {"source": "Dahlia", "target": "Fameuil", "mentions": 3},
            {"source": "Dahlia", "target": "Blacheville", "mentions": 3},
            {"source": "Dahlia", "target": "Favourite", "mentions": 5},
            {"source": "Zephine", "target": "Tholomyes", "mentions": 3},
            {"source": "Zephine", "target": "Listolier", "mentions": 3},
            {"source": "Zephine", "target": "Fameuil", "mentions": 3},
            {"source": "Zephine", "target": "Blacheville", "mentions": 3},
            {"source": "Zephine", "target": "Favourite", "mentions": 4},
            {"source": "Zephine", "target": "Dahlia", "mentions": 4},
            {"source": "Fantine", "target": "Tholomyes", "mentions": 3},
            {"source": "Fantine", "target": "Listolier", "mentions": 3},
            {"source": "Fantine", "target": "Fameuil", "mentions": 3},
            {"source": "Fantine", "target": "Blacheville", "mentions": 3},
            {"source": "Fantine", "target": "Favourite", "mentions": 4},
            {"source": "Fantine", "target": "Dahlia", "mentions": 4},
            {"source": "Fantine", "target": "Zephine", "mentions": 4},
            {"source": "Fantine", "target": "Marguerite", "mentions": 2},
            {"source": "Fantine", "target": "Valjean", "mentions": 9},
            {"source": "Mme.Thenardier", "target": "Fantine", "mentions": 2},
            {"source": "Mme.Thenardier", "target": "Valjean", "mentions": 7},
            {"source": "Thenardier", "target": "Mme.Thenardier", "mentions": 13},
            {"source": "Thenardier", "target": "Fantine", "mentions": 1},
            {"source": "Thenardier", "target": "Valjean", "mentions": 12},
            {"source": "Cosette", "target": "Mme.Thenardier", "mentions": 4},
            {"source": "Cosette", "target": "Valjean", "mentions": 31},
            {"source": "Cosette", "target": "Tholomyes", "mentions": 1},
            {"source": "Cosette", "target": "Thenardier", "mentions": 1},
            {"source": "Javert", "target": "Valjean", "mentions": 17},
            {"source": "Javert", "target": "Fantine", "mentions": 5},
            {"source": "Javert", "target": "Thenardier", "mentions": 5},
            {"source": "Javert", "target": "Mme.Thenardier", "mentions": 1},
            {"source": "Javert", "target": "Cosette", "mentions": 1},
            {"source": "Fauchelevent", "target": "Valjean", "mentions": 8},
            {"source": "Fauchelevent", "target": "Javert", "mentions": 1},
            {"source": "Bamatabois", "target": "Fantine", "mentions": 1},
            {"source": "Bamatabois", "target": "Javert", "mentions": 1},
            {"source": "Bamatabois", "target": "Valjean", "mentions": 2},
            {"source": "Perpetue", "target": "Fantine", "mentions": 1},
            {"source": "Simplice", "target": "Perpetue", "mentions": 2},
            {"source": "Simplice", "target": "Valjean", "mentions": 3},
            {"source": "Simplice", "target": "Fantine", "mentions": 2},
            {"source": "Simplice", "target": "Javert", "mentions": 1},
            {"source": "Scaufflaire", "target": "Valjean", "mentions": 1},
            {"source": "Woman1", "target": "Valjean", "mentions": 2},
            {"source": "Woman1", "target": "Javert", "mentions": 1},
            {"source": "Judge", "target": "Valjean", "mentions": 3},
            {"source": "Judge", "target": "Bamatabois", "mentions": 2},
            {"source": "Champmathieu", "target": "Valjean", "mentions": 3},
            {"source": "Champmathieu", "target": "Judge", "mentions": 3},
            {"source": "Champmathieu", "target": "Bamatabois", "mentions": 2},
            {"source": "Brevet", "target": "Judge", "mentions": 2},
            {"source": "Brevet", "target": "Champmathieu", "mentions": 2},
            {"source": "Brevet", "target": "Valjean", "mentions": 2},
            {"source": "Brevet", "target": "Bamatabois", "mentions": 1},
            {"source": "Chenildieu", "target": "Judge", "mentions": 2},
            {"source": "Chenildieu", "target": "Champmathieu", "mentions": 2},
            {"source": "Chenildieu", "target": "Brevet", "mentions": 2},
            {"source": "Chenildieu", "target": "Valjean", "mentions": 2},
            {"source": "Chenildieu", "target": "Bamatabois", "mentions": 1},
            {"source": "Cochepaille", "target": "Judge", "mentions": 2},
            {"source": "Cochepaille", "target": "Champmathieu", "mentions": 2},
            {"source": "Cochepaille", "target": "Brevet", "mentions": 2},
            {"source": "Cochepaille", "target": "Chenildieu", "mentions": 2},
            {"source": "Cochepaille", "target": "Valjean", "mentions": 2},
            {"source": "Cochepaille", "target": "Bamatabois", "mentions": 1},
            {"source": "Pontmercy", "target": "Thenardier", "mentions": 1},
            {"source": "Boulatruelle", "target": "Thenardier", "mentions": 1},
            {"source": "Eponine", "target": "Mme.Thenardier", "mentions": 2},
            {"source": "Eponine", "target": "Thenardier", "mentions": 3},
            {"source": "Anzelma", "target": "Eponine", "mentions": 2},
            {"source": "Anzelma", "target": "Thenardier", "mentions": 2},
            {"source": "Anzelma", "target": "Mme.Thenardier", "mentions": 1},
            {"source": "Woman2", "target": "Valjean", "mentions": 3},
            {"source": "Woman2", "target": "Cosette", "mentions": 1},
            {"source": "Woman2", "target": "Javert", "mentions": 1},
            {"source": "MotherInnocent", "target": "Fauchelevent", "mentions": 3},
            {"source": "MotherInnocent", "target": "Valjean", "mentions": 1},
            {"source": "Gribier", "target": "Fauchelevent", "mentions": 2},
            {"source": "Mme.Burgon", "target": "Jondrette", "mentions": 1},
            {"source": "Gavroche", "target": "Mme.Burgon", "mentions": 2},
            {"source": "Gavroche", "target": "Thenardier", "mentions": 1},
            {"source": "Gavroche", "target": "Javert", "mentions": 1},
            {"source": "Gavroche", "target": "Valjean", "mentions": 1},
            {"source": "Gillenormand", "target": "Cosette", "mentions": 3},
            {"source": "Gillenormand", "target": "Valjean", "mentions": 2},
            {"source": "Magnon", "target": "Gillenormand", "mentions": 1},
            {"source": "Magnon", "target": "Mme.Thenardier", "mentions": 1},
            {"source": "Mlle.Gillenormand", "target": "Gillenormand", "mentions": 9},
            {"source": "Mlle.Gillenormand", "target": "Cosette", "mentions": 2},
            {"source": "Mlle.Gillenormand", "target": "Valjean", "mentions": 2},
            {"source": "Mme.Pontmercy", "target": "Mlle.Gillenormand", "mentions": 1},
            {"source": "Mme.Pontmercy", "target": "Pontmercy", "mentions": 1},
            {"source": "Mlle.Vaubois", "target": "Mlle.Gillenormand", "mentions": 1},
            {"source": "Lt.Gillenormand", "target": "Mlle.Gillenormand", "mentions": 2},
            {"source": "Lt.Gillenormand", "target": "Gillenormand", "mentions": 1},
            {"source": "Lt.Gillenormand", "target": "Cosette", "mentions": 1},
            {"source": "Marius", "target": "Mlle.Gillenormand", "mentions": 6},
            {"source": "Marius", "target": "Gillenormand", "mentions": 12},
            {"source": "Marius", "target": "Pontmercy", "mentions": 1},
            {"source": "Marius", "target": "Lt.Gillenormand", "mentions": 1},
            {"source": "Marius", "target": "Cosette", "mentions": 21},
            {"source": "Marius", "target": "Valjean", "mentions": 19},
            {"source": "Marius", "target": "Tholomyes", "mentions": 1},
            {"source": "Marius", "target": "Thenardier", "mentions": 2},
            {"source": "Marius", "target": "Eponine", "mentions": 5},
            {"source": "Marius", "target": "Gavroche", "mentions": 4},
            {"source": "BaronessT", "target": "Gillenormand", "mentions": 1},
            {"source": "BaronessT", "target": "Marius", "mentions": 1},
            {"source": "Mabeuf", "target": "Marius", "mentions": 1},
            {"source": "Mabeuf", "target": "Eponine", "mentions": 1},
            {"source": "Mabeuf", "target": "Gavroche", "mentions": 1},
            {"source": "Enjolras", "target": "Marius", "mentions": 7},
            {"source": "Enjolras", "target": "Gavroche", "mentions": 7},
            {"source": "Enjolras", "target": "Javert", "mentions": 6},
            {"source": "Enjolras", "target": "Mabeuf", "mentions": 1},
            {"source": "Enjolras", "target": "Valjean", "mentions": 4},
            {"source": "Combeferre", "target": "Enjolras", "mentions": 15},
            {"source": "Combeferre", "target": "Marius", "mentions": 5},
            {"source": "Combeferre", "target": "Gavroche", "mentions": 6},
            {"source": "Combeferre", "target": "Mabeuf", "mentions": 2},
            {"source": "Prouvaire", "target": "Gavroche", "mentions": 1},
            {"source": "Prouvaire", "target": "Enjolras", "mentions": 4},
            {"source": "Prouvaire", "target": "Combeferre", "mentions": 2},
            {"source": "Feuilly", "target": "Gavroche", "mentions": 2},
            {"source": "Feuilly", "target": "Enjolras", "mentions": 6},
            {"source": "Feuilly", "target": "Prouvaire", "mentions": 2},
            {"source": "Feuilly", "target": "Combeferre", "mentions": 5},
            {"source": "Feuilly", "target": "Mabeuf", "mentions": 1},
            {"source": "Feuilly", "target": "Marius", "mentions": 1},
            {"source": "Courfeyrac", "target": "Marius", "mentions": 9},
            {"source": "Courfeyrac", "target": "Enjolras", "mentions": 17},
            {"source": "Courfeyrac", "target": "Combeferre", "mentions": 13},
            {"source": "Courfeyrac", "target": "Gavroche", "mentions": 7},
            {"source": "Courfeyrac", "target": "Mabeuf", "mentions": 2},
            {"source": "Courfeyrac", "target": "Eponine", "mentions": 1},
            {"source": "Courfeyrac", "target": "Feuilly", "mentions": 6},
            {"source": "Courfeyrac", "target": "Prouvaire", "mentions": 3},
            {"source": "Bahorel", "target": "Combeferre", "mentions": 5},
            {"source": "Bahorel", "target": "Gavroche", "mentions": 5},
            {"source": "Bahorel", "target": "Courfeyrac", "mentions": 6},
            {"source": "Bahorel", "target": "Mabeuf", "mentions": 2},
            {"source": "Bahorel", "target": "Enjolras", "mentions": 4},
            {"source": "Bahorel", "target": "Feuilly", "mentions": 3},
            {"source": "Bahorel", "target": "Prouvaire", "mentions": 2},
            {"source": "Bahorel", "target": "Marius", "mentions": 1},
            {"source": "Bossuet", "target": "Marius", "mentions": 5},
            {"source": "Bossuet", "target": "Courfeyrac", "mentions": 12},
            {"source": "Bossuet", "target": "Gavroche", "mentions": 5},
            {"source": "Bossuet", "target": "Bahorel", "mentions": 4},
            {"source": "Bossuet", "target": "Enjolras", "mentions": 10},
            {"source": "Bossuet", "target": "Feuilly", "mentions": 6},
            {"source": "Bossuet", "target": "Prouvaire", "mentions": 2},
            {"source": "Bossuet", "target": "Combeferre", "mentions": 9},
            {"source": "Bossuet", "target": "Mabeuf", "mentions": 1},
            {"source": "Bossuet", "target": "Valjean", "mentions": 1},
            {"source": "Joly", "target": "Bahorel", "mentions": 5},
            {"source": "Joly", "target": "Bossuet", "mentions": 7},
            {"source": "Joly", "target": "Gavroche", "mentions": 3},
            {"source": "Joly", "target": "Courfeyrac", "mentions": 5},
            {"source": "Joly", "target": "Enjolras", "mentions": 5},
            {"source": "Joly", "target": "Feuilly", "mentions": 5},
            {"source": "Joly", "target": "Prouvaire", "mentions": 2},
            {"source": "Joly", "target": "Combeferre", "mentions": 5},
            {"source": "Joly", "target": "Mabeuf", "mentions": 1},
            {"source": "Joly", "target": "Marius", "mentions": 2},
            {"source": "Grantaire", "target": "Bossuet", "mentions": 3},
            {"source": "Grantaire", "target": "Enjolras", "mentions": 3},
            {"source": "Grantaire", "target": "Combeferre", "mentions": 1},
            {"source": "Grantaire", "target": "Courfeyrac", "mentions": 2},
            {"source": "Grantaire", "target": "Joly", "mentions": 2},
            {"source": "Grantaire", "target": "Gavroche", "mentions": 1},
            {"source": "Grantaire", "target": "Bahorel", "mentions": 1},
            {"source": "Grantaire", "target": "Feuilly", "mentions": 1},
            {"source": "Grantaire", "target": "Prouvaire", "mentions": 1},
            {"source": "MotherPlutarch", "target": "Mabeuf", "mentions": 3},
            {"source": "Gueulemer", "target": "Thenardier", "mentions": 5},
            {"source": "Gueulemer", "target": "Valjean", "mentions": 1},
            {"source": "Gueulemer", "target": "Mme.Thenardier", "mentions": 1},
            {"source": "Gueulemer", "target": "Javert", "mentions": 1},
            {"source": "Gueulemer", "target": "Gavroche", "mentions": 1},
            {"source": "Gueulemer", "target": "Eponine", "mentions": 1},
            {"source": "Babet", "target": "Thenardier", "mentions": 6},
            {"source": "Babet", "target": "Gueulemer", "mentions": 6},
            {"source": "Babet", "target": "Valjean", "mentions": 1},
            {"source": "Babet", "target": "Mme.Thenardier", "mentions": 1},
            {"source": "Babet", "target": "Javert", "mentions": 2},
            {"source": "Babet", "target": "Gavroche", "mentions": 1},
            {"source": "Babet", "target": "Eponine", "mentions": 1},
            {"source": "Claquesous", "target": "Thenardier", "mentions": 4},
            {"source": "Claquesous", "target": "Babet", "mentions": 4},
            {"source": "Claquesous", "target": "Gueulemer", "mentions": 4},
            {"source": "Claquesous", "target": "Valjean", "mentions": 1},
            {"source": "Claquesous", "target": "Mme.Thenardier", "mentions": 1},
            {"source": "Claquesous", "target": "Javert", "mentions": 1},
            {"source": "Claquesous", "target": "Eponine", "mentions": 1},
            {"source": "Claquesous", "target": "Enjolras", "mentions": 1},
            {"source": "Montparnasse", "target": "Javert", "mentions": 1},
            {"source": "Montparnasse", "target": "Babet", "mentions": 2},
            {"source": "Montparnasse", "target": "Gueulemer", "mentions": 2},
            {"source": "Montparnasse", "target": "Claquesous", "mentions": 2},
            {"source": "Montparnasse", "target": "Valjean", "mentions": 1},
            {"source": "Montparnasse", "target": "Gavroche", "mentions": 1},
            {"source": "Montparnasse", "target": "Eponine", "mentions": 1},
            {"source": "Montparnasse", "target": "Thenardier", "mentions": 1},
            {"source": "Toussaint", "target": "Cosette", "mentions": 2},
            {"source": "Toussaint", "target": "Javert", "mentions": 1},
            {"source": "Toussaint", "target": "Valjean", "mentions": 1},
            {"source": "Child1", "target": "Gavroche", "mentions": 2},
            {"source": "Child2", "target": "Gavroche", "mentions": 2},
            {"source": "Child2", "target": "Child1", "mentions": 3},
            {"source": "Brujon", "target": "Babet", "mentions": 3},
            {"source": "Brujon", "target": "Gueulemer", "mentions": 3},
            {"source": "Brujon", "target": "Thenardier", "mentions": 3},
            {"source": "Brujon", "target": "Gavroche", "mentions": 1},
            {"source": "Brujon", "target": "Eponine", "mentions": 1},
            {"source": "Brujon", "target": "Claquesous", "mentions": 1},
            {"source": "Brujon", "target": "Montparnasse", "mentions": 1},
            {"source": "Mme.Hucheloup", "target": "Bossuet", "mentions": 1},
            {"source": "Mme.Hucheloup", "target": "Joly", "mentions": 1},
            {"source": "Mme.Hucheloup", "target": "Grantaire", "mentions": 1},
            {"source": "Mme.Hucheloup", "target": "Bahorel", "mentions": 1},
            {"source": "Mme.Hucheloup", "target": "Courfeyrac", "mentions": 1},
            {"source": "Mme.Hucheloup", "target": "Gavroche", "mentions": 1},
            {"source": "Mme.Hucheloup", "target": "Enjolras", "mentions": 1}
        ]
    };

    // display only nodes and links that have >= thresholdMentions number of mentions
    var thresholdMentions = 13;
    // gets rid of links that are filtered out
    data.links = data.links.filter(function (link) { return (link.mentions >= thresholdMentions);});
    // gets rid of unlinked nodes
    var usersWithLinks = new Set();
    for (i = 0; i < data.links.length; i++){
        usersWithLinks.add(data.links[i].source);
        usersWithLinks.add(data.links[i].target);
    }
    usersWithLinks = Array.from(usersWithLinks);

    var nodesWithLinks = [];
    for (i = 0; i < usersWithLinks.length; i++){
        nodesWithLinks.push({"name": usersWithLinks[i]});
    }

    data.nodes = nodesWithLinks;


    var svg = d3.select("svg")
        // allows pan (click and drag) and zoom (mouse scroll)
        .call(d3.zoom().on("zoom", function () { svg.attr("transform", d3.event.transform)}))
        .append("g");

    var width = +svg.attr("width"),
        height = +svg.attr("height");

    var simulation = d3.forceSimulation()
        // distance() sets the length of the links
        .force("link", d3.forceLink().id(function(d) { return d.name; }).distance(50))
        .force("charge", d3.forceManyBody())
        .force("center", d3.forceCenter(width / 2, height / 2));

    var links = svg.append("g").selectAll("line")
        .data(data.links)
        .enter().append("line")
            .attr("stroke", "gray")
            .attr("stroke-opacity", "0.6")
            .attr("stroke-width", function(d) { return Math.sqrt(d.mentions); });

    var mentions = svg.append("g").selectAll("g")
        .data(data.links)
        .enter().append("g")
            .append("text")
            .style("text-anchor", "middle")
            .style("fill", "black")
            .style("font-family", "Arial")
            .style("font-size", 12)
            .text(function(d) { return d.mentions; });

    var nodes = svg.append("g").selectAll("circle") //will soon exist
        .data(data.nodes) //statements past here executed once per data point
        .enter() //creates and hands off placeholder element
        .append("circle") // adds circle to placeholder element received from enter()
            .attr("r", 10)
            .attr("fill", "orange")
            .attr("stroke", "white")
            //.attr("transform", transform(d3.zoomIdentity))
        .call(d3.drag()
            .on("start", dragstarted)
            .on("drag", dragged)
            .on("end", dragended));

    var nodeLabels = svg.append("g").selectAll("text")
        .data(data.nodes)
        .enter().append("text")
            .text(function (d) { return d.name; })
            .style("text-anchor", "middle")
            .style("fill", "black")
            .style("font-family", "Arial")
            .style("font-size", 12);

    simulation
        .nodes(data.nodes)
        .on("tick", ticked);

    simulation.force("link")
        .links(data.links);

    function ticked() {
        links
            .attr("x1", function(d) { return d.source.x; })
            .attr("y1", function(d) { return d.source.y; })
            .attr("x2", function(d) { return d.target.x; })
            .attr("y2", function(d) { return d.target.y; });

        nodes
            .attr("cx", function(d) { return d.x; })
            .attr("cy", function(d) { return d.y; });

        nodeLabels
            // set node label positioning such that ids float above the circles
            .attr("x", function(d){ return d.x; })
        		.attr("y", function (d) {return d.y-12; });

        mentions
            .attr("x", function(d){ return (d.source.x + d.target.x)/2; })
        		.attr("y", function (d) {return (d.source.y + d.target.y)/2; });
    }

    function dragstarted(d) {
        if (!d3.event.active) simulation.alphaTarget(0.3).restart();
        d.fx = d.x;
        d.fy = d.y;
    }

    function dragged(d) {
        d.fx = d3.event.x;
        d.fy = d3.event.y;
    }

    function dragended(d) {
        if (!d3.event.active) simulation.alphaTarget(0);
        d.fx = null;
        d.fy = null;
    }

</script>
